<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LunchRoulette.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Persist Security Info=True;User ID=lunch;Password=java1234;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>