<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LunchRoulette.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LunchRoulette.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Persist Security Info=True;User ID=lunch;Password=java1234;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <userSettings>
        <LunchRoulette.Properties.Settings>
            <setting name="LoginId" serializeAs="String">
                <value />
            </setting>
        </LunchRoulette.Properties.Settings>
    </userSettings>
</configuration>